<VirtualHost *:80>
    ServerName {{ site_name }}
    ServerAlias www.{{ site_name }}

    DocumentRoot /var/www/{{ site_name }}/web
    <Directory /var/www/{{ site_name }}/web>
        AllowOverride All
        Order Allow,Deny
        Allow from All
    </Directory>

    # uncomment the following lines if you install assets as symlinks
    # or run into problems when compiling LESS/Sass/CoffeScript assets
    # <Directory /var/www/project>
    #     Options FollowSymlinks
    # </Directory>

    ErrorLog /var/log/apache2/project_error.log
    CustomLog /var/log/apache2/project_access.log combined
</VirtualHost>